{% load static %}
<section id="feature" class="section-padding wow fadeIn delay-05s">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="wrap-item text-center">
            <div class="item-img">
              <img src={% static "css/img/ser01.png" %}>
            </div>
            <h3 class="pad-bt15">Innovative Crypto Strategies</h3>
              <p>Unlock cutting-edge strategies tailored to help you navigate the dynamic world of cryptocurrency. Stay ahead with insights that boost your earning potential.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="wrap-item text-center">
            <div class="item-img">
              <img src={% static "css/img/ser02.png" %}>
            </div>
            <h3 class="pad-bt15">High Airdrop Giveaway</h3>
            <p>Benefit from our industry-leading airdrop rewards. We give back 95% of airdrop rewards to our users, significantly exceeding typical giveaway percentages.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="wrap-item text-center">
            <div class="item-img">
              <img src={% static "css/img/ser03.png" %}>
            </div>
            <h3 class="pad-bt15">Transparent Operations</h3>
            <p>We pride ourselves on transparency in all processes. From reward distribution to operations, trust and credibility are at the core of what we do.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="wrap-item text-center">
            <div class="item-img">
              <img src={% static "css/img/ser04.png" %}>
            </div>
            <h3 class="pad-bt15">Exclusive Tips & Tricks</h3>
            <p>Gain access to insider tips and tricks to enhance your earnings on every airdrop. Our expert insights help you make the most out of every opportunity.</p>
          </div>
        </div>
      </div>
    </div>
  </section>