<section id="service" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="service-title pad-bt15">What We Do?</h2>
          <p class="sub-title pad-bt15">Future Earners offers tailored insights, real-time alerts, and educational resources to help you navigate the crypto world. From maximizing airdrop rewards to engaging with a supportive community, we provide the tools and knowledge to grow your crypto journey.</p>
          <hr class="bottom-line">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-item">
            <h3><span>A</span>irdrop Insights and Strategies</h3>
            <p>Unlock the potential of crypto airdrops with expert insights and proven strategies. We analyze the latest opportunities to help you maximize your earnings and stay ahead in the fast-paced world of cryptocurrency.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-item">
            <h3><span>C</span>rypto Opportunity Alerts</h3>
            <p>Stay informed with real-time alerts about the most promising crypto opportunities. Our service ensures you never miss out on lucrative airdrops and investment prospects.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-item">
            <h3><span>E</span>ducational Resources</h3>
            <p>Enhance your crypto knowledge with our comprehensive educational resources. From beginner guides to advanced strategies, we equip you with the tools to make informed decisions and grow your crypto portfolio.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-item">
            <h3><span>C</span>ommunity Engagement</h3>
            <p>Join a vibrant community of crypto enthusiasts and experts. Engage in discussions, share experiences, and get support from like-minded individuals who are passionate about crypto and airdrops.</p>
          </div>
        </div>
      </div>
    </div>
  </section>