<section id="testimonial" class="wow fadeInUp delay-05s">
    <div class="bg-testicolor">
      <div class="container section-padding">
        <div class="row">
          <div class="testimonial-item">
            <ul class="bxslider">
              <li>
                <blockquote>
                  {% comment %} <img src="img/thumb.png" class="img-responsive"> {% endcomment %}
                  <p>Future Earners has transformed the way I approach crypto airdrops. Their insights and tips are invaluable, and I've seen a significant increase in my earnings since I started using their platform. Highly recommend for anyone looking to maximize their crypto opportunities!"</p>
                </blockquote>
                <small>Alex, Crypto Enthusiast</small>
              </li>
              <li>
                <blockquote>
                  {% comment %} <img src="img/thumb.png" class="img-responsive"> {% endcomment %}
                  <p>I love being part of the Future Earners community. The discussions and advice shared here are incredibly helpful, and I’ve connected with some amazing people who share my passion for crypto. It’s more than just a platform; it’s a community!</p>
                </blockquote>
                <small>Samuel , Student </small>
              </li>
              <li>
                <blockquote>
                  {% comment %} <img src="img/thumb.png" class="img-responsive"> {% endcomment %}
                  <p>Future Earners is a must for any serious airdrop hunter. Their real-time alerts and tips have helped me stay ahead of the curve and capitalize on some amazing opportunities. It’s a game-changer for maximizing airdrop earnings!</p>
                </blockquote>
                <small>Jason, Airdrop Hunter</small>
              </li>
              <li>
                <blockquote>
                  {% comment %} <img src="img/thumb.png" class="img-responsive"> {% endcomment %}
                  <p>Joining Future Earners has been a fantastic experience. The resources provided have significantly improved my understanding of crypto airdrops. It's the go-to place for anyone passionate about crypto!</p>
                </blockquote>
                <small>Chinwe Okafor, Crypto Enthusiast</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>